{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": 0,
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}